<div class="content">
<h2>Table <%= @party.table_num %></h2>
<h4>Number of guests <%= @party.guests %></h4>

<ul>
	<% @orders.each do |order| %>
	<li>
		<%= order.food.name %>
			<form action="/parties/<%= @party.id %>/orders/<%= order.id %>" method="post" class="delete-order">
				<input type="hidden" name="_method" value="delete" /> 
				<input type="submit" value="X" class="btn btn-danger btn-xs"/>
			</form>
	</li>
	<% end %>
	
</ul>

<hr />

<h4>Total price: $<%= @total_price %></h4>


<a href="/parties/<%= @party.id %>/orders/new"><button type="button" class="btn btn-primary">Add food</button></a><br /><br />

<a href="/parties/<%= @party.id %>/edit"><button type="button" class="btn btn-default">Edit party</button></a><br /><br />

</div>
